@import "variables";
@mixin deskTopFirst($media) {
    @media screen and (max-width: $media/16+em) { @content; }
}


.gallery {
    max-width: 1080px;
    margin: 0 auto;

    img {
        width: 250px;
        padding: 5px 5px;
        max-width: 100%;
        filter: grayscale(100%);
        transition: all 0.2s linear;
        cursor: pointer;
    }
    img:hover {
        filter: grayscale(0%);
        transform: scale(1.1);
    }

    @include deskTopFirst(960) {
        & img {
            margin: 0 18%;
            max-width: 100%;
            filter: grayscale(0);
        }
    }
}